<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.3.3/dist/handlebars.min.js"></script>
    <script src="/views/partials/login.js"></script>
    <title>Document</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
<style>
    form {
        margin: 0 auto;
        width: 50%;
    }

    body {
        background-color: #6b7379;
        margin-top: 50px;
    }
    .btn{
        margin-left: 200px;
        margin-top: 20px;
    }
    .table{
        margin-left: 50px;
        background-color: rgb(255, 240, 240);
        border: black solid;
        width: 800px;    
    }
    .td{
        border:black solid;
    }
    .img {
        padding-left: 80px;
    }
    .label{
        margin-right: 80px;
       
    }
</style>