<h2>INGRESE SU NOMBRE</h2>
      <br>
      <form action="/login" method="POST">
        <label for="user">UserName</label>
        <input for="text" name="user" id="user"/>
        <label for="pass">Contaseña</label>
        <input for="text" name="pass" id="pass"/>
        <button onclick="ingresar()">Ingresar</button>
      </form>